body {
  background-color: #f0f0f0; }

.Nav {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; }
  .Nav .logo {
    height: 200px;
    width: 200px; }
  .Nav ul {
    list-style-type: none;
    margin: 20px;
    margin-left: 200px;
    margin-right: 200px;
    padding: 0;
    overflow: hidden;
    background-color: #333;
    border-radius: 10px; }
  .Nav li {
    float: left;
    border-right: 1px solid #bbb; }
  .Nav li:last-child {
    border-right: none; }
  .Nav li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none; }
  .Nav li a:hover:not(.active) {
    background-color: #690000; }
  .Nav .active {
    background-color: #04AA6D; }
  .Nav .cartLi {
    float: right; }

.itemContainer {
  background-color: white;
  margin-left: 100px;
  margin-right: 100px;
  height: 100%;
  border-radius: 10px;
  box-shadow: 0px 10px 10px -6px #acacac; }
  .itemContainer h2 {
    padding-top: 20px; }

.itemList {
  display: flex;
  flex-wrap: wrap;
  justify-content: center; }
  .itemList .item {
    display: flex;
    flex-direction: column;
    margin: 20px;
    box-shadow: 5px 10px 8px #888888;
    border-radius: 10px;
    padding: 10px; }
    .itemList .item .itemImg {
      width: 200px;
      margin: 10px; }
